/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   customize bootstrap input style
   ========================================================================== */

/*.input-group-addon {
    position: absolute;
    z-index: 6;
    background-color: transparent;
    line-height: 22px;
    color: #A0A0A0;
    top: 0px;
    border: none;
}

.input-group {
    margin: 15px;
}

.form-control {
    border-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid #DDD;
}*/


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
* {
  border-radius: 0 !important;
}
html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.print {
    text-shadow: grey 0 0 2px;
}

.tb-width-100 {
    width: 100px;
    text-align: center;
}
.tb-width-50 {
    width: 50px;
    text-align: center;
}
.tb-width-150 {
    width: 150px;
    text-align: center;
}

.print-con {
    background: grey;
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(83, 83, 83);
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

.align-right{
    text-align: right;
}
.align-left{
    text-align: left;
}
.align-center{
    text-align: center;
}
.inline {
    display: inline-block;
}
/* ==========================================================================
   Top Navigation
   ========================================================================== */

.big-row {
    background: #ED9E2F;
    /*padding: 0px 2000px;*/
    /*margin: 0 -2000px;*/
}
.nav{
    float: left;
}
.nav-right {
    float: right;
}
ul.navigation, .nav-right ul{
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    font-size: 1.2em;
    float: left;
}
ul.navigation li {
    display: inline-flex;
    /*padding: 10px;*/
}
.navigation li a{
    color: white;
    font-size: 1.2em;
    border-right: 2px solid white;
    padding: 15px 20px;
    display: block;
    position: relative;
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
}
div#radio {
  text-align: center;
  margin-top: 10px;
  font-size: 1.2em;
}
.navigation li a:hover, .nav-right a:hover {
    text-decoration: none;
}
.navigation li a:after {
    content: "";
    background: white;
    width: 14px;
    height: 14px;
    display: block;
    border-radius: 7px;
    position: absolute;
    top: 24px;
    right: -8px;
    z-index: 1;
}
.navigation li a:hover {
    background: white;
    color: #FF7500;
}
.nav-right ul li{
    display: inline-block;
}
.navigation li {
    margin-right: -4px;
}
.nav-right li{
    display: inline
}
img.user-image {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 3px;
    border: 1px solid black;
    padding: 0;
    margin: 4px 0 0 0;
    float: left;
}
a.logedin {
    color: white;
    font-size: .95em;
    width: 76px;
    line-height:2.2em
}
span.user-name {
    font-size: .95em;
    display: block;
    text-transform: uppercase;
    position: relative;
    left: 20px;
}
.final-span {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    font-size: 105%;
    color: #808080;
}
.row-cen {
    margin: 0 auto;
    /*background: red;*/
    /*width: 1020px;*/
    font-size: .85em;
}
.gry{
    background: #334657;
    border-top: 5px solid salmon;
    margin-top: 25px;
}
footer {
    padding: 50px 0;
    color: white;
    font-size: 14px;
}

.ui-widget-content {
    background: white;
}
#print {
    font-size: 2em;
    color: white;
    margin-right: 10px;
    font-weight: 200;
    cursor: pointer;
    z-index: 1;
    padding: 10px 0 0px 0;
}

/* ==========================================================================
   DashBoard Style
   ========================================================================== */

.sum-news {
    display: block;
    background-color: rgb(249, 249, 249);
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0 rgb(205, 205, 205);
    position: relative;
}

span.sum-icon {
    font-size: 3.5em;
    display: inline-block;
    width: 45%;
    line-height: 80px;
    background: gray;
    border-radius: 3px 0 0 3px;
    text-align: center;
    color: white;
    cursor: pointer;
}

span.sum-icon i {
    position: relative;
    top: 5px;
}
span.sum-title {
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: 10px;
    width: 55%;
    float: right;
}

span.sum-title > h2 {
    margin: 0;
    text-align: center;
    display: inline-block;
    font-size: 2.5em;
    color: rgb(95, 95, 95);
    text-shadow: 1px 1px 0 white;
    width: 100%;
}
span.sum-title>h2>span {
    display: block;
    font-size: .35em;
    text-align: center;
}
.col-md-3:nth-child(1) .sum-icon {
    background: #FF766C;
}
.col-md-3:nth-child(2) .sum-icon {
    background: #41CAC0;
}
.col-md-3:nth-child(3) .sum-icon {
    background: #F8D246;
}
.col-md-3:nth-child(4) .sum-icon { 
    background: #79B933;
}
ul.sum-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2em;
    border-top: 1px solid rgb(224, 224, 224);
    position: absolute;
    top: 100%;
    display: block;
    width: 100%;
    background: white;
    box-shadow: 1px 1px 1px 0 rgb(205, 205, 205);
    border-radius: 0 0 3px 3px;
    z-index: 1;
    max-height: 450px;
    overflow: auto !important;
}
.ic {
    border-radius: 3px 3px 0 0 !important;
}
ul.sum-list li {
    padding: 5px 10px 0;
    border-bottom: 1px solid rgb(228, 228, 228);
    text-transform: lowercase;
    font-size: .82em;
    line-height: 30px;
}
ul.sum-list li>span+span {
    background: grey;
    color: white;
    padding: 5px;
    border-radius: 3px;
    float: right;
    display: inline-block;
    line-height: 1;
}
ul.sum-list li>span.x {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: 65%;
    display: inline-block;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    background: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}
table{
    background: #F6F7F8;
}

/* ==========================================================================
   HOME PAGE STYLESS
   ========================================================================== */
.material-info {
    width: 100%;
    height: 100px;
    background: #ff4444;
    border-radius: 5px;
    padding: 15px;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgb(134, 134, 134);
    text-align: center;
    box-shadow: 0px 6px 5px -5px rgb(76, 76, 76);
}

#entry {
    background: rgba(255, 255, 255, 0.69);
    padding: 25px 10px;
    border-radius: 5px;
    margin-top: 25px;
}
.one {
    background: #ccc;
    display: inline-block;
    padding: 5px;
    border: 1px solid white;
    border-radius: 3px;
    height: 60px;
    font-weight: bold;
    margin: 0 0 0 0px;
}

.clear:before,
        .clear:after {
            content: " ";
            display: table;
        }

        .clear:after {
            clear: both;
        }

/* ==========================================================================
   PRODUCT SINGLE PAGE STYLESS
   ========================================================================== */

.pro-img {
    width: 300px;
    margin-right: 50px;
    float: left;
}
.pro-des {
    float: left;
    width: 50%;
}
ul.new-rel {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.new-rel li {
    margin: 2px;
    background: #FAFAFA;
    border-left: 2px solid transparent;
    transition:all .3s ease-in-out;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
}
ul.new-rel li img {
    margin: 5px 3px;
    border: none;
    display: inline-block;
}
ul.new-rel li:hover {
    opacity: .8;
    border-left: 2px solid #68A9EE;
}
.col-page {
    background-color: white;
    -webkit-transition: all .3s ease;
}
.col-page:hover {
    background-color: #f05361;
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
    color: #fff;
    z-index: 10;
    -webkit-box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.5);
    -ms-box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.5);
    -o-box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.5);
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.5);
}
.list-group {
  list-style: none;
}
.grids {
    width: 146px;
    background: #F4F4F4;
    float: left;
    margin: 0 5px 0 0; 
    border: 1px solid #D3D6DB;
    padding: 5px;
    font-size: .8em;
    border-radius: 3px;
    box-shadow: 0px 5px 10px -5px #ccc;
    margin-bottom: 10px;
    overflow:hidden;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
div.grids:nth-child(5n+1){
    margin-right:0;
}
.grids img {
    width: 134px;
    height: 134px;
    transition: all .25s ease-in-out;
}
.img-wrap{
    overflow: hidden;
}
.grids:hover {
    border-color: #94B0C0;
}
.grids:hover img {
    -webkit-transform: rotate(360deg) scale(1.2);
       -moz-transform: rotate(360deg) scale(1.2);
        -ms-transform: rotate(360deg) scale(1.2);
         -o-transform: rotate(360deg) scale(1.2);
            transform: rotate(360deg) scale(1.2);
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.grids h3 {
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0;
    text-align: center;
    color: #71B0CD;
    height: 28px;
    line-height: 14px;
    display: block;
}
.grids p {
    margin: 0;
    color: #747474;
}
.grids a:hover{
    text-decoration: none;
}
span.new.label {
    position: absolute;
    font-size: 1em;
    padding: 4px 10px;
    opacity: .8;
}

.user_check_suc.err {
    color: darkred;
    border: 1px solid rgba(179, 0, 0, 0.38);
}
td.del, td.del2 {
    position: relative;
}
.st p{
    font-weight: bold;
}
.delete, .delete2 {
    color: red;
    position: absolute;
    top: 15px;
    right: 20px;
}
.delete:hover, .delete2:hover{
    text-decoration: none;
    color: darkred;
    transistion: all 0.2s ease-in;
    -webkit-transistion: all .2s ease-in;
    -moz-transistion: all .2s ease-in;
    -ms-transistion: all .2s ease-in;
    -o-transistion: all .2s ease-in;
}
.user_check_suc {
    padding: 5px;
    color: darkgreen;
    border-radius: 3px;
    box-shadow: 0px 10px 6px -10px #ccc;
    border: 1px solid rgba(0, 128, 0, 0.18);
}
p.example {
    color: #999;
    font-size: .8em;
    margin: 5px;
}
h3.heading {
    background: #425F9C;
    color: white;
    padding: 10px;
    line-height: 15px;
    margin-bottom: 0;
    text-align: center;
    border-radius: 5px 5px 0 0;
    font-size: 1.5em;
}
.ri8 {
    display: inline-block;
    padding: 0 25px;
}
.li8 li {
    padding: 6px;
    display: inline-block;
}
.ri8 a {
    padding: 0px;
    margin: 0px 0 0 0;
}
.var_error {
    border: red solid 1px;
    color: red;
    font-size: 1.2em;
    padding: 20px;
    font-weight: bold;
    background: lightpink;
}

.home-ico{
    padding:0;
    margin:0;
}
.home-ico li {
    width: 250px;
    height: 250px;
    margin: 5px;
    list-style: none;
    font-size: 1.5em;
    display: inline-block;
    transition: all .25s ease-in;
    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -ms-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
}
.home-ico li a{
    display: block;
    line-height: 250px;
    /*background: #388bd1;*/
    color: rgb(255, 255, 255);
    border-radius: 50%;
    text-align: center;
    transition: all .25s ease-in;
    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -ms-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    box-shadow: 0 5px 10px -5px #4B4B4B;
    -webkit-box-shadow: 0 5px 10px -5px #4B4B4B;
    -moz-box-shadow: 0 5px 10px -5px #4B4B4B;
    -ms-box-shadow: 0 5px 10px -5px #4B4B4B;
    -o-box-shadow: 0 5px 10px -5px #4B4B4B;
}
.home-ico li a:hover{/*
    background: #7CC0F8;*/
    text-decoration: none;
    color: white;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
a.cyan{
    background: #42bdc2;
}
a.cyan:hover{
    background: #3CA6AA;
}
a.orange{
    background: #ff8a3c;
}
a.orange:hover{
    background: #F0853E;
}
a.yellow{
    background: #ffd800;
}
a.yellow:hover{
    background: #F8C700;
}
a.black{
    background: #5c5c5c;
}
a.black:hover{
    background: #444;
}
.preload {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.input-group {
    z-index: 5;
}
#ui-datepicker-div {
    z-index: 10 !important;
}
.job-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid rgb(199, 199, 199);
    border-top: transparent;
    box-shadow: 0 5px 5px -7px #333;
    border-radius: 0 0 5px 5px;
    max-height: 500px;
    overflow: auto;
}
.job-list li {
    background: #F5F5F5;
    padding: 2px 15px;
    margin-bottom: 2px;
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
}
.job:last-child {
    border-radius: 0 0 5px 5px;
}
h3.card {
    line-height: 22px;
    background: #429C89;
}
.job-code {
    width: 100px;
    display: inline-block;
    border-right: 1px solid #D3D3D3;
    margin-right: 25px;
}
.job-edit {
    float: right;
}
.pl-title {
    width: 140px;
    display: inline-block;
    overflow: hidden;
    float: left;
    font-size: .85em;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
li.no-job {
    color: red;
    font-weight: bold;
    font-size: 1.1em;
}
.job-edit a {
    margin: 0 5px;
    font-size: 1em;
}
.job-edit a:hover {
    text-decoration:none;
}
.job-edit a {
    color: rgb(75, 75, 75);
}
.job_qty {
    float: right;
    display: block;
    /*width: 60px;*/
    font-size: .85em;
}
.pln {
    font-size: 1.2em;
    text-transform: capitalize;
}
.in-set{
    display: block;
    margin-bottom: 15px;
    width: 100%;
}
.list-divider {
    max-height: 600px;
    overflow: auto;
}
.job-edit a:hover {
    color: black;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
a.job-name {
    font-size: 1em;
    display: inline-block;
    width: 50%;
    /*font-weight: bold;*/
    letter-spacing: 2px;
    text-transform: uppercase;
}
.job-info-list {
    margin: 0;
    padding: 0;
    list-style: none;
    /*margin-bottom: 25px;*/
    background: #faebcc;
    border-radius: 5px;
    padding: 25px;
    border: 1px solid #8A8A8A;
    box-shadow: 0 10px 5px -5px #A9A9A9;
}
.job-info-list>h3 {
    margin-top: 0;
    margin-bottom: .75em;
    color: orange;
    text-shadow: 1px 1px 0px #B4B4B4;
}
.job-info-list li {
    /* font-size: 1.2em; */
    /* padding: 5px 15px; */
    /* display: inline-block; */
    margin-bottom: 5px;
    border-radius: 3px;
    color: #000000;
    font-weight: 300;
    /* border-right: 1px solid #9B7C47; */
}
.job-info-list li:nth-child(2n+1){
    margin-right: 5px
}
.job-info-list li:nth-child(2n) {
    border-right: none;
}
.suc{
    background: rgba(253, 253, 253, 1);
}
.er{
    color: #a94442;
    background: #f2dede;
}
ul.material {
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 5px;
    line-height: 23px;
    font-weight: bold;
    border: 1px solid grey;
    border-top: none;
    box-shadow: 0 5px 8px -6px rgb(131, 131, 131);
}
hr{
    display: block;
    height: 0;
    border: 0;
    border-top: 1px solid #EFEFEF;
    margin: 1em 0;
    padding: 0;
    border-bottom: 1px solid lightgrey;
}
ul.material li {
    border-bottom: 1px solid lightgrey;
    color: rgb(79, 79, 79);
    font-size: 1.1em;
    padding: 5px;
}
ul.material li:last-child{
    border-bottom: none;
}
.error {
    border: red;
    outline: red;
    box-shadow: 0px 0px 5px 2px red;
    -webkit-box-shadow: 0px 0px 5px 2px red;
    -moz-box-shadow: 0px 0px 5px 2px red;
    -ms-box-shadow: 0px 0px 5px 2px red;
    -o-box-shadow: 0px 0px 5px 2px red;    
}
.list-link a {
    font-size: 2em;
    line-height: 70px;
    margin-bottom: px;
}
.list-link a:hover {
    text-decoration: none;
}
.list-link span{
    font-size: 1.5em;
    position: relative;
    top: 10px;
}
.calculate {
    background: rgb(17, 173, 223);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    height: auto;
}
.calculate:hover {
    background: rgb(13, 150, 194);
    color: white;
}
.calculate[disabled="disabled"] {
    color: #333;
    background: #d3d3d3;
}
.entry-row{
    overflow: auto;
}
table { table-layout: fixed; font-weight: bold; }
table th{
    text-transform: uppercase;
    font-size: 1.1em;
    text-align:center;
}
.job th{
    font-size: 1.2em;
    font-weight: bold;
}
th.remarks{
    position: relative;
}
.remarks a {
    margin-top: 6px;
    margin-right: 7px;
    float: right;
    color: #3e3e3e;
    font-size: 2em !important;
}
.remarks a:hover {
    text-decoration: none;
    /*color: #fa5555;*/
    background: rgb(180, 27, 27);
    border-radius: 50px;
}
.tagName {
    display: block;
    font-weight: normal;
    color: black;
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: right;
    /*border-top: 1px solid grey;*/
    margin-top: 5px;
    padding: 5px;
}
.tCol th,.tCol td {
    border-right: 1px solid lightgray;
    border-bottom: 0 none transparent !important;
    border-top: 0 none transparent !important;
    border-top: 0 none transparent !important;
}
.tCol td {
    text-align: right;
}
.tCol tr{
    border-bottom: 1px solid gray !important;
}
.tCol tr{
    border-bottom: 1px solid gray !important;
}
.tCol tr:nth-child(2n){
    border-bottom: 1px solid transparent !important;
}
.tCol tr:nth-child(2n){
    border-bottom: 1px solid lightgrey !important;
}
td.col2{
    text-align: right ;
    line-height: 1.5em;
    border-right: 1px solid;
    padding: 5px;
}
.rotate-90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.rateHeading {
    font-weight: bold;
    float: right;
}
p.field {
    font-size: 1.15em;
    color: black;
    font-weight: bold;
}
p.field:after {
    content: ":";
    margin-left: 10px;
    float: right;
}
p.f_value {
    font-size: 1.2em;
    font-weight: bold;
    /* width: 200px; */
    /* display: inline-block; */
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
}
li.jobHeading {
    background: gray;
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
    border-radius: 0;
}
.colorRate {
    font-weight: bold;
    display: inline-block;
    width: 75px;
    background: gainsboro;
    float: right;
    margin-left: 50px;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
    margin: -5px -5px;
}
.tag {
    margin-right: 70px;
    background: none;
}
.colone{
    width: 50px !important;
}
.coltwo{
    width: 100px !important;
}
.colthree {
    width: 150px;
}
.colfour{
    width: 225px;
}
.colfive{
    width: 500px;
}
tr td input,tr td textarea {
    width: 100% !important;
}
option[disabled] {
    background: rgb(53, 53, 53);
    color: white;
    padding: 5px 0;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}


.switch2 {
    background: transparent;
    position: relative;
    width: 30px;
    height: 0;
    transition: left .2s ease-in-out;
}

.switch2:before {
    content: "";
    display: block;
    background: #eee;
    position: absolute;
    top: 2px;
    width: 28px;
    height: 14px;
    border-radius: 25px;
}
.switch2:after{
    content: '';
    width: 18px;
    height: 18px;
    background: #ccc;
    position: absolute;
    border-radius: 50%;
    left: 0px;
    transition: left .2s ease-in-out
}

.switch2:checked:after{
    background: #009688;
    left: 10px;
}

.switch2:checked:before{
    background: #77C2BB;
}

option {
    color: rgb(48, 48, 48);
    font-weight: bold;
    font-size: 1.1em;
    padding: 5px;
    border-bottom: 1px solid grey;
}
.input-group-addon input[type="checkbox"].select-stage {
    margin-top: -10px;  
    margin-bottom: -10px;
}
.job-info-qc {
    margin: 0;
    list-style: none;
    background: #faebcc;
    border-radius: 15px;
    padding: 15px 25px;
    border: 1px solid #9cabc9;
    box-shadow: 0 10px 5px -10px #A9A9A9;
    background: rgba(225, 230, 238, 0.5);
}
.home-icon {
    margin: 0;
    padding: 0;
    list-style: none;
    background: white;
    border-radius: 5px;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0 5px 5px -5px grey;
}
.home-icon li a {
    color: rgb(49, 76, 124);
    padding: 10px 25px;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    background: rgb(252, 252, 252);
}
.home-icon li a:hover {
    text-decoration:none;
    background:white
}

.home-icon li {
    border-bottom: 1px solid rgb(176, 206, 226);
    border-top: 1px solid rgb(219, 219, 219);    
}
.home-icon li:last-child {
    border-bottom:none;
}
.home-icon li:first-child {
    border-top:none;
}

.supplier {
    position: relative;
}
.supplier-select {
    position: absolute;
    left: 0;
    z-index: 5;
    top: 34px;
    background: rgb(233,233,233);
    border-radius: 0 0 5px 5px;
    margin: 0;
    list-style: none;
    width: 100%;
    padding: 0px 5px;
    box-shadow: 0 5px 11px -5px grey;
}
.supplier-select li{
    display: block;
    padding: 8px 25px;
    color: rgb(26, 103, 202);
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 1px;
    border-bottom: 1px solid rgb(238, 238, 238);
    border-top: 1px solid #ccc;
}
.supplier-select li:hover {
    background: rgb(219, 219, 219);
}
#supplierField {
    width: 100%;
}
.box {
    background: white;
    padding: 20px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid rgb(162, 162, 162);
    -webkit-box-shadow: 0 0 20px 0 rgb(140, 205, 255);
    -moz-box-shadow: 0 0 20px 0 rgb(140, 205, 255);
    -ms-box-shadow: 0 0 20px 0 rgb(140, 205, 255);
    -o-box-shadow: 0 0 20px 0 rgb(140, 205, 255);
    font-size: .8em;
}
.notification {
    background: #D7E2EE;
}
.notification a {
    color: black;
    display: block;
    padding: 0 0 7px 0;
    margin-top: -5px;
    font-size: .85em;
}
.time-ago {
    color: rgb(146, 146, 146);
    float: left;
    margin-top: 5px;
}
.read {
    background: rgb(245, 240, 240);;
}
.notification a {
    text-decoration: none;
}
.notification-icon {
    display: block;
    font-size: 1.5em;
    color: grey;
    width: 25px;
    float: left;
    margin-top: 3px;
}
.notification-msg {
    display: block;
}
.notification:hover {
    background: #E7EEF7;
}
.notify {
    background: #f00;
    float: right;
    font-size: 18px;
    padding: 6px 14px;
    position: relative;
    top: -7px;
}
#notificationArea .list-group {
    overflow: auto;
    height: 700px;
    box-shadow: 1px 1px 5px grey;
}

ul.ui-autocomplete {
    background-color: white;
    text-transform: uppercase;
    border: 1px solid #ccc;
}


/* ==========================================================================
   =autocomplete
   ========================================================================== */
ul.ui-autocomplete li {
    color: black;
    border-bottom: 1px solid #eee;
}
ul.ui-autocomplete li:last-child{
    border-bottom: none;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Alignment
 */
.ac{
    text-align: center;
}

.ar{
    text-align: right;
}


/*
 * Image replacement
 */
span.planning {
    color: red;
    background: rgba(255, 0, 0, 0.1);
    padding: 5px 25px;
}

span.dispatched {
    color: green;
    background: rgba(0, 128, 0, 0.1);
    padding: 5px 25px;
}

.dataTables_wrapper {
    margin-top: 5px;
}

.dataTables_wrapper input:focus,
.dataTables_wrapper select:focus {
    outline: none;
}

.dataTables_filter input {
    color: #616161;
    width: 250px;
    border-radius: 12px;
    padding: 2px 26px 2px 10px;
    border: 1px solid rgb(205, 205, 205);
}

.dataTables_filter label {
    background: #555;
    padding: 2px 2px 2px 10px;
    border-radius: 15px;
    color: white;
}

.dataTables_length select {
    border: none;
    border-radius: 12px;
    padding: 2px 15px;
}

.dataTables_length label {
    background: #555;
    color: white;
    padding: 2px 14px;
    border-radius: 15px;
}

.dataTables_filter {
    position: relative;
}

span.searchIcon {
    position: absolute;
    font-size: 1.2em;
    right: 10px;
    line-height: 29px;
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

span.badge {
    background: white;
    color: red;
    float: right;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
