.np, input[type='button'], button{
	display: none;
}
div[class^="col"]{
    float:left
}
div[class^="col-md-4"]{
    width:25%;
}
div[class^="col-md-3"]{
    width:33.33%;
}
div[class^="col-md-6"]{
    width:50%;
}
div[class^="col-md-2"]{
    width:20%;
}
ul.material{
	border:none;
}
ul.material li{
	border:none;
	font-size: .75em;
	padding: 0;
	margin: 0;
}
div,.pH, h3{
	margin: 0
}