@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*body {
  padding: 45px 0;
  font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}*/

#weather {
    width: 500px;
    text-align: center;
    text-transform: uppercase;
    background: #ccc;
    margin-bottom: 25px;
    border: 1px solid #e8c65c;
    background-image: url("../images/yellow.jpg");
    margin: 25px auto;
    padding: 15px;
}

#weather i {
  color: #fff;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

#weather .icon-0:before { content: ":"; }
#weather .icon-1:before { content: "p"; }
#weather .icon-2:before { content: "S"; }
#weather .icon-3:before { content: "Q"; }
#weather .icon-4:before { content: "S"; }
#weather .icon-5:before { content: "W"; }
#weather .icon-6:before { content: "W"; }
#weather .icon-7:before { content: "W"; }
#weather .icon-8:before { content: "W"; }
#weather .icon-9:before { content: "I"; }
#weather .icon-10:before { content: "W"; }
#weather .icon-11:before { content: "I"; }
#weather .icon-12:before { content: "I"; }
#weather .icon-13:before { content: "I"; }
#weather .icon-14:before { content: "I"; }
#weather .icon-15:before { content: "W"; }
#weather .icon-16:before { content: "I"; }
#weather .icon-17:before { content: "W"; }
#weather .icon-18:before { content: "U"; }
#weather .icon-19:before { content: "Z"; }
#weather .icon-20:before { content: "Z"; }
#weather .icon-21:before { content: "Z"; }
#weather .icon-22:before { content: "Z"; }
#weather .icon-23:before { content: "Z"; }
#weather .icon-24:before { content: "E"; }
#weather .icon-25:before { content: "E"; }
#weather .icon-26:before { content: "3"; }
#weather .icon-27:before { content: "a"; }
#weather .icon-28:before { content: "A"; }
#weather .icon-29:before { content: "a"; }
#weather .icon-30:before { content: "A"; }
#weather .icon-31:before { content: "6"; }
#weather .icon-32:before { content: "1"; }
#weather .icon-33:before { content: "6"; }
#weather .icon-34:before { content: "1"; }
#weather .icon-35:before { content: "W"; }
#weather .icon-36:before { content: "1"; }
#weather .icon-37:before { content: "S"; }
#weather .icon-38:before { content: "S"; }
#weather .icon-39:before { content: "S"; }
#weather .icon-40:before { content: "M"; }
#weather .icon-41:before { content: "W"; }
#weather .icon-42:before { content: "I"; }
#weather .icon-43:before { content: "W"; }
#weather .icon-44:before { content: "a"; }
#weather .icon-45:before { content: "S"; }
#weather .icon-46:before { content: "U"; }
#weather .icon-47:before { content: "S"; }

#weather h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}